.header-line{
    color:red;
    font-size:40px;
    font-family: sans-serif;
}

#bottom-line{
    color:green;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
}

.body-line{
    background-color: black;
}

.recipe-line{
    color:blue;
}